.wrapPane{
    -fx-background-color: D3D3D3;
}

.buttonCodeFile,.buttonChangeTypeCode,.buttonChangeTypeCode,.buttonGetInputFileText,.buttonBruteForce,.saveFileToEncode{
    -fx-background-color: #2F4F4F;
    -fx-background-radius: 10;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-color: 000000;
    -fx-border-radius: 10;
    -fx-font-size: 14;
}
.buttonCodeFile:hover,.buttonChangeTypeCode:hover,.buttonChangeTypeCode:hover,.buttonGetInputFileText:hover,.buttonBruteForce:hover,.saveFileToEncode:hover{
    -fx-background-color: #5F9EA0;
    -fx-effect: dropshadow(gaussian, black, 10, 0, 2, 2);
    -fx-font-size: 14.2;
    -fx-border-width: 1.2;
}

.textInputPath,.textOutputPath,.textInputKey{
    -fx-background-color: FFFAFA;
    -fx-background-radius: 5;
}

.textAreaInput{
    -fx-margin: 20;
    -fx-border-radius: 5;
    -fx-background-radius: 10;
}